@page
@model ChemiClean.Pages.Shared.FileNotFoundModel
@{
    ViewData["Title"] = "FileNotFound";
}

<div class="row text-center justify-content-xl-center" >
    <h1 class="toast-header text-center ">File Not Found</h1>
</div>

<h2>
    @Model.message
</h2>

